@font-face {
  font-family: SeaSideResort;
  src: url('fonts/SEASRN__-webfont.woff') format('woff');
}

html {
  width: 100%;
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  width: 100%;
  height: 100%;
}

.nav-bar-text {
  color: #fff;
  text-decoration: none;
}

.nav-bar {
  display: grid;
  grid-template-columns: 30% 70%;
  height: 5%;
  width: 100%;
  min-height: 50px;
  align-items: center;
  background-color: #0091e7;
}

.site-name-main {
  font-family: SeaSideResort;
  font-size:calc(11px + 1.5vw);
  margin-left: 3%;
  margin-right: 3%;
}

.nav-bar-links {
  text-align: right;
  white-space: nowrap;
}

.nav-bar-links > li {
  display: inline-block;
  margin-left: 3%;
  margin-right: 3%;
}

.nav-bar-text:hover {
  color: #fbdb2f;
}