{% extends "base.html" %}
{% load static %}

{% block title %}About{% endblock %}

{% block static_files %}
<link rel="stylesheet" href="{% static 'info_pages.css' %}" type="text/css" />
{% endblock %}

{% block content %}
<h1>About</h1>
<p>
  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
  incididunt ut labore et dolore magna aliqua. Quisque non tellus orci ac.
  Vestibulum lectus mauris ultrices eros in cursus turpis massa tincidunt. Non
  consectetur a erat nam at lectus urna. Morbi leo urna molestie at. In
  pellentesque massa placerat duis ultricies. Nisl nisi scelerisque eu ultrices
  vitae auctor eu augue. A lacus vestibulum sed arcu. Mus mauris vitae ultricies
  leo integer malesuada nunc vel. Turpis tincidunt id aliquet risus feugiat in
  ante metus. Consectetur adipiscing elit duis tristique sollicitudin nibh. Sit
  amet tellus cras adipiscing enim. Morbi blandit cursus risus at ultrices mi
  tempus imperdiet nulla. In fermentum et sollicitudin ac orci phasellus. Sed
  lectus vestibulum mattis ullamcorper velit. Purus semper eget duis at tellus
  at urna condimentum mattis. Et molestie ac feugiat sed lectus vestibulum
  mattis ullamcorper. Scelerisque eleifend donec pretium vulputate sapien nec. A
  arcu cursus vitae congue mauris rhoncus aenean vel. Sed tempus urna et
  pharetra pharetra massa massa ultricies.
</p>
<p>
  Euismod in pellentesque massa placerat. Morbi tristique senectus et netus et
  malesuada fames ac turpis. Ipsum nunc aliquet bibendum enim facilisis gravida
  neque convallis a. Sagittis orci a scelerisque purus semper eget duis at
  tellus. A scelerisque purus semper eget. Consequat id porta nibh venenatis
  cras sed felis. Malesuada fames ac turpis egestas integer eget. Curabitur
  vitae nunc sed velit. Blandit libero volutpat sed cras ornare. Magna fringilla
  urna porttitor rhoncus dolor. Posuere morbi leo urna molestie. Mauris rhoncus
  aenean vel elit scelerisque mauris pellentesque pulvinar pellentesque.
  Sagittis eu volutpat odio facilisis mauris sit amet. Tincidunt nunc pulvinar
  sapien et ligula ullamcorper malesuada. Amet venenatis urna cursus eget nunc
  scelerisque viverra mauris in.
</p>
<p>
  Mauris sit amet massa vitae tortor condimentum lacinia. Nisi porta lorem
  mollis aliquam. Aliquam vestibulum morbi blandit cursus risus at. Elit
  ullamcorper dignissim cras tincidunt lobortis feugiat. Sed augue lacus viverra
  vitae congue eu consequat ac. Elit duis tristique sollicitudin nibh sit amet
  commodo. Pretium lectus quam id leo in vitae turpis massa. Odio facilisis
  mauris sit amet massa vitae tortor. In tellus integer feugiat scelerisque
  varius morbi enim nunc. Mauris ultrices eros in cursus turpis massa tincidunt
  dui ut. Mauris ultrices eros in cursus. Quis viverra nibh cras pulvinar mattis
  nunc sed blandit. Nullam vehicula ipsum a arcu.
</p>
<p>
  Eu volutpat odio facilisis mauris sit amet massa. Integer enim neque volutpat
  ac tincidunt vitae semper quis. Fermentum dui faucibus in ornare quam viverra
  orci sagittis eu. Leo vel orci porta non. Cursus metus aliquam eleifend mi in
  nulla posuere. Facilisis magna etiam tempor orci eu lobortis elementum nibh.
  At elementum eu facilisis sed odio morbi. Diam maecenas sed enim ut sem
  viverra aliquet eget sit. Iaculis urna id volutpat lacus laoreet non curabitur
  gravida arcu. Diam donec adipiscing tristique risus nec feugiat. Auctor urna
  nunc id cursus metus aliquam. Tempus iaculis urna id volutpat lacus laoreet
  non curabitur. Nulla facilisi etiam dignissim diam quis.
</p>
<p>
  In pellentesque massa placerat duis. Quisque id diam vel quam elementum
  pulvinar etiam non quam. Pellentesque massa placerat duis ultricies lacus.
  Viverra tellus in hac habitasse platea dictumst vestibulum rhoncus. Malesuada
  fames ac turpis egestas sed tempus urna. Enim sit amet venenatis urna cursus
  eget nunc. Cursus turpis massa tincidunt dui ut ornare lectus sit amet. Vitae
  aliquet nec ullamcorper sit amet risus nullam eget. Vitae congue eu consequat
  ac felis. Aenean sed adipiscing diam donec adipiscing. Vel risus commodo
  viverra maecenas accumsan lacus vel facilisis volutpat. Semper eget duis at
  tellus at. Lectus quam id leo in. Consequat semper viverra nam libero justo
  laoreet sit amet cursus. Molestie nunc non blandit massa. Et leo duis ut diam.
  Augue lacus viverra vitae congue eu consequat ac felis.
</p>
<img src="{% static 'media/images/party.jpg' %}" alt="party" class="horizontal-fullwidth">
{% endblock %}
