{% extends "base.html" %}

{% block title %}{{ event.event_name }}{% endblock %}

{% block content %}
<a href="{% url 'edit' uuid_slug=event.access_link %}">
  <button type="button">Edit</button>
</a>
<a href="{% url 'delete' uuid_slug=event.access_link %}">
  <button type="button">Delete</button>
</a>

<div class="details-container">
  <h1>{{ event.event_name }}</h1>
  <h2>Choices</h2>
  <a href="{% url 'add' uuid_slug=event.access_link %}">
    <button type="button">Add</button>
  </a>
  <a href="{% url 'delete_choice' uuid_slug=event.access_link %}">
    <button type="button">Delete</button>
  </a>  
  <ul>
    {% for choice in choices %}
    <li>
      {{ choice.time_from }}
      {% if choice.time_to %}
        -{{ choice.time_to }}
      {% endif %}
    </li>
    {% endfor %}
  </ul>
</div>
<div class="results-container">
  <h1>Results</h1>
</div>
{% endblock %}