{% extends "base.html" %}
{% load static %}

{% block title %}FAQ{% endblock %}

{% block static_files %}
<link rel="stylesheet" href="{% static 'info_pages.css' %}" type="text/css" />
{% endblock %}

{% block content %}
<h1>FAQ</h1>
<h2>
  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
  incididunt ut labore et dolore magna aliqua?
</h2>
<p>
  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
  incididunt ut labore et dolore magna aliqua. Non nisi est sit amet facilisis
  magna etiam tempor orci.
</p>
<h2>
  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
  incididunt ut labore et dolore magna aliqua?
</h2>
<p>
  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
  incididunt ut labore et dolore magna aliqua. Non nisi est sit amet facilisis
  magna etiam tempor orci.
</p>
<h2>
  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
  incididunt ut labore et dolore magna aliqua?
</h2>
<p>
  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
  incididunt ut labore et dolore magna aliqua. Non nisi est sit amet facilisis
  magna etiam tempor orci.
</p>
<h2>
  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
  incididunt ut labore et dolore magna aliqua?
</h2>
<p>
  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
  incididunt ut labore et dolore magna aliqua. Porta non pulvinar neque laoreet
  suspendisse. Nunc faucibus a pellentesque sit. Leo duis ut diam quam nulla
  porttitor massa id. Dignissim diam quis enim lobortis scelerisque.
  Pellentesque massa placerat duis ultricies. Neque gravida in fermentum et.
  Placerat in egestas erat imperdiet sed. Neque sodales ut etiam sit amet nisl
  purus in mollis. Nibh mauris cursus mattis molestie a iaculis at. Sit amet
  massa vitae tortor condimentum lacinia.
</p>
<h2>
  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
  incididunt ut labore et dolore magna aliqua?
</h2>
<p>
  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
  incididunt ut labore et dolore magna aliqua. Non nisi est sit amet facilisis
  magna etiam tempor orci.
</p>
<h2>
  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
  incididunt ut labore et dolore magna aliqua?
</h2>
<p class="last-paragraph">
  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
  incididunt ut labore et dolore magna aliqua. Porta non pulvinar neque laoreet
  suspendisse. Nunc faucibus a pellentesque sit. Leo duis ut diam quam nulla
  porttitor massa id. Dignissim diam quis enim lobortis scelerisque.
  Pellentesque massa placerat duis ultricies. Neque gravida in fermentum et.
  Placerat in egestas erat imperdiet sed. Neque sodales ut etiam sit amet nisl
  purus in mollis. Nibh mauris cursus mattis molestie a iaculis at. Sit amet
  massa vitae tortor condimentum lacinia.
</p>
{% endblock %}
