{% extends "base.html" %}
{% load static %}

{% block title%}New Event{% endblock %}

{% block static_files %}
<link rel="stylesheet" href="{% static 'new_event.css' %}">

<!-- JS files for datetimepicker -->
<!-- jQuery -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<!-- XDSoft DateTimePicker -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.min.css" integrity="sha256-DOS9W6NR+NFe1fUhEE0PGKY/fubbUCnOfTje2JMDw3Y=" crossorigin="anonymous" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.full.min.js" integrity="sha256-FEqEelWI3WouFOo2VWP/uJfs1y8KJ++FLh2Lbqc8SJk=" crossorigin="anonymous"></script>
{% endblock %}

{% block content %}
<h1>Create a new event</h1>
<form method="post">
  {% csrf_token %}
  {{ event_form.non_field_errors }}
  <p>
    {{ event_form.event_name.errors }}
    {{ event_form.event_name.label_tag }}<br>
    {{ event_form.event_name }}
  </p>
  <p>
    {{ event_form.event_description.errors }}
    {{ event_form.event_description.label_tag }}<br>
    {{ event_form.event_description }}
  </p>
  <p>
    {{ event_form.password_protect.errors }}
    {{ event_form.password.errors }}
    <label for="{{ event_form.password_protect.id_for_label }}">Protect your event with a password?<br>
    {{ event_form.password_protect}}Yes: {{ event_form.password }}<br>
  </p>
  <p>
    {{event_form.allow_add.errors }}
    <label for="{{ event_form.allow_add.id_for_label }}">Allow your attendees to add new event times?</label><br>
    {{ event_form.allow_add}} Yes
  </p>
  <div class="time_choices">
    {{ choice_form.management_form }}
  <label>Event Time</label><br>
  <p>Start time - finish time(optional).</p>
  {% for form in choice_form %}
    <div class="event-time-row" id="row-0">
      {{ form.time_from }}-{{ form.time_to }}
      {{ form.DELETE }}
      <button type="button" class="del-button" id="button-0">-</button><br>
    </div>
  {% endfor %}
  <button type="button" class="add-button">+</button>
  </div>    
  <input type="submit" value="save" class="submit-input">
</form>
<script>
  "use strict";
  let formCount =  {{ choice_form.total_form_count }};
  const choicesBox = document.querySelector(".time_choices");
  const formSetCounter = document.querySelector("#id_form-TOTAL_FORMS");

  function addNewChoice(e) {
      const newForm = `<div class="event-time-row" id="row-${formCount}">
                       {{ choice_form.empty_form.time_from|escapejs }}-{{ choice_form.empty_form.time_to|escapejs }}
                       {{ choice_form.empty_form.DELETE|escapejs }}
                       <button type="button" class="del-button" id="button-${formCount}">-</button><br>
                       </div>`.replace(/__prefix__/g, formCount);
      choicesBox
        .querySelector(".add-button")
        .insertAdjacentHTML("beforebegin", newForm);
      choicesBox
        .querySelector(`#button-${formCount}`)
        .addEventListener("click", (e) => deleteNewChoice(e));

      $(`#id_form-${formCount}-time_from`).datetimepicker({
        format: 'd/m/Y H:i',
        minDate: "0",
      });
      $(`#id_form-${formCount}-time_to`).datetimepicker({
        format: 'd/m/Y H:i',
        minDate: "0",
      });

      formCount++;
      formSetCounter.value++;
  }

  function deleteNewChoice(e) {
    const rowNumber = e.target.id.replace ( /[^\d.]/g, "" );
    const delTargetCheckBox = choicesBox.querySelector(
      `#id_form-${rowNumber}-DELETE`
      );
    const delTargetDiv = choicesBox.querySelector(`#row-${rowNumber}`);
    delTargetCheckBox.checked = true;
    delTargetDiv.style.display = "none";
  }

  choicesBox
    .querySelector(".add-button")
    .addEventListener("click", (e) => addNewChoice(e));
  choicesBox
    .querySelector("#button-0")
    .addEventListener("click", (e) => deleteNewChoice(e));

  $("#id_form-0-time_from").datetimepicker({
    format: 'd/m/Y H:i',
    minDate: "0",
  });
  $("#id_form-0-time_to").datetimepicker({
    format: 'd/m/Y H:i',
    minDate: "0",
    });
</script>
{% endblock %}