{% extends "base.html" %}
{% load static %}

{% block title%}New Event{% endblock %}

{% block static_files %}
<link rel="stylesheet" href="{% static 'new_event.css' %}">
{% endblock %}

{% block content %}
<form method="post">
  {% csrf_token %}
  {{ event_form.as_p }}
  <div class="time_choices">
    {{ choice_form.management_form }}
  <label>Event Time</label><br>
  {% for form in choice_form %}
    <div class="event-time-row" id="row-0">
      {{ form.time_from }}-{{ form.time_to }}
      {{ form.DELETE }}
      <button type="button" class="del-button" id="button-0">-</button><br>
    </div>
  {% endfor %}
   <button type="button" class="add-button">+</button>
  </div>
  <input type="submit" value="save" class="submit-input">
</form>
<script>
  "use strict";
  let formCount =  {{ choice_form.total_form_count }};
  const choicesBox = document.querySelector(".time_choices");
  const formSetCounter = document.querySelector("#id_form-TOTAL_FORMS");

  function addNewChoice(e) {
      const newForm = `<div class="event-time-row" id="row-${formCount}">
                       {{ choice_form.empty_form.time_from|escapejs }}-{{ choice_form.empty_form.time_to|escapejs }}
                       {{ choice_form.empty_form.DELETE|escapejs }}
                       <button type="button" class="del-button" id="button-${formCount}">-</button><br>
                       </div>`.replace(/__prefix__/g, formCount);
      choicesBox
        .querySelector(".add-button")
        .insertAdjacentHTML("beforebegin", newForm);
      choicesBox
        .querySelector(`#button-${formCount}`)
        .addEventListener("click", (e) => deleteNewChoice(e));
      formCount++;
      formSetCounter.value++;
  }

  function deleteNewChoice(e) {
    const rowNumber = e.target.id.replace ( /[^\d.]/g, "" );
    const delTargetCheckBox = choicesBox.querySelector(
      `#id_form-${rowNumber}-DELETE`
      );
    const delTargetDiv = choicesBox.querySelector(`#row-${rowNumber}`);
    delTargetCheckBox.checked = true;
    delTargetDiv.style.display = "none";
  }

  choicesBox
    .querySelector(".add-button")
    .addEventListener("click", (e) => addNewChoice(e));
  choicesBox
    .querySelector("#button-0")
    .addEventListener("click", (e) => deleteNewChoice(e));
</script>
{% endblock %}